
name: JDK EA

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '12 8 * * 1,3,5'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        java_version: [EA, GA] ## valhalla (fails javadoc)
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Java
      uses: oracle-actions/setup-java@v1
      with:
        website: jdk.java.net
        release: ${{ matrix.java_version }}
    - name: Maven cache
      uses: actions/cache@v4
      env:
        cache-name: maven-cache
      with:
        path:
          ~/.m2
        key: build-${{ env.cache-name }}
    - name: Install mkcert cert
      run: |
        keytool -import -trustcacerts -noprompt \
        -alias mkcert-root-ca \
        -file mkcert.pem \
        -keystore "${JAVA_HOME}/lib/security/cacerts" \
        -storepass changeit
    - name: Build with Maven
      run: mvn clean test
