
name: Robaho

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        java_version: [25]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.java_version }}
        distribution: 'zulu'
    - name: Maven cache
      uses: actions/cache@v4
      env:
        cache-name: maven-cache
      with:
        path:
          ~/.m2
        key: build-${{ env.cache-name }}
    - name: Install mkcert cert
      run: |
        keytool -import -trustcacerts -noprompt \
        -alias mkcert-root-ca \
        -file mkcert.pem \
        -keystore "${JAVA_HOME}/lib/security/cacerts" \
        -storepass changeit
    - name: Build with Maven
      run: mvn clean test -Probaho
